*.py linguist-detectable=true
link/*.py linguist-detectable=true
mysite/*.py linguist-detectable=true
link/templatetags/*.py linguist-detectable=true
link/migrations/*.py linguist-detectable=true
static/admin/js/*.js linguist-vendored
static/contact/js/*.js linguist-vendored
link/static/link/js/*.js linguist-vendored
static/admin/css/*.css linguist-vendored
static/contact/css/*.css linguist-vendored
link/static/link/css/*.css linguist-vendored
