*.py linguist-detectable=true
link/*.py linguist-detectable=true
mysite/*.py linguist-detectable=true
link/templatetags/*.py linguist-detectable=true
link/migrations/*.py linguist-detectable=true
*.py linguist-language=Python
link/*.py linguist-language=Python
mysite/*.py linguist-language=Python
link/templatetags/*.py linguist-language=Python
link/migrations/*.py linguist-language=Python
static/admin/js/*.js linguist-detectable=false
static/contact/js/*.js linguist-detectable=false
link/static/link/js/*.js linguist-detectable=false
static/admin/css/*.css linguist-detectable=false
static/contact/css/*.css linguist-detectable=false
link/static/link/css/*.css linguist-detectable=false

